html,
body {
	height: 100%;
}

button {
	cursor: pointer;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6875; /* 27/16 */
	min-width: 320px;
	overflow-x: hidden;
	color: $default;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 26px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	li {
		margin: 0 15px;
	}
	button {
		font-size: 0;
		width: 8px;
		height: 8px;
		padding: 0;
		border: none;
		border-radius: 50%;
		background-color: $title;
	}
	li.slick-active {
		button {
			background-color: #ffef35;
		}
	}
}

.info-email {
	position: relative;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	line-height: 2; /* 28/14 */
	margin-bottom: 22px;
	padding-left: 30px;
	color: $title;
	&::before {
		content: '';
		position: absolute;
		background-image: url(../images/icons/envelope.svg);
		top: 10px;
		left: 0;
		width: 16px;
		height: 12px;
	}
}
