// ===== Colors ===== //
$title: #363838;
$default: #5a5a5a;
$breadcrumbs-footer: #dfdfdf;
$line: #6d7278;
$placeholder: #a1a1a1;

// ===== Rules ===== //
%title-font {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700; 
}

// ===== Mixin ===== //
@mixin homeTitle {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.4167; /* 51/36 */
	text-align: center;
	color: $title;
}

@mixin aboutTitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.6667; /* 60/36 */
	color: $title;
}

@mixin blogTitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.5833; /* 38/24 */
	color: $title;
}
