@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// ========== Header 1920x120px ========== //
.header {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 120px;
	}
	&__btn {
		background-color: transparent;
		border: none;
		padding: 0;
	}
}

.menu {
	padding-right: 15px;
	&__list {
		display: flex;
	}
	&__list-item {
		padding-left: 35px;
		padding-right: 45px;
	}
	&__list-link {
		display: block;
		line-height: 1.375;
		@extend %title-font;
		color: rgba(54, 56, 56, 0.9);
	}
}

.logo {
	margin: 0 auto;
}

// ========== Footer 1920x451px ========== //
.footer {
	&__content {
		padding: 61px 0 80px;
		background-color: $footer-bg;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__info {
		width: 539px;
	}
	&__info-title {
		line-height: 1.4375; /* 23/16 */
		margin-bottom: 14px;
		@extend %title-font;
		color: $title;
	}
	&__info-text {
		max-width: 476px;
		line-height: 1.782;
		margin-bottom: 16px;
	}
	&__info-img use {
		display: inline-block;
	}
	&__info-email {
		display: inline-block;
		position: relative;
		font-size: 14px;
		font-weight: 600;
		line-height: 2; /* 28/14 */
		margin-bottom: 22px;
		padding-left: 30px;
		color: $title;
		&::before {
			content: '';
			position: absolute;
			background-image: url(../images/envelope.svg);
			left: 0;
			top: 10px;
			width: 16px;
			height: 12px;
		}
	}
	&__form {
		display: flex;
	}
	&__form-input {
		padding: 6px 10px 6px 18px;
		width: 100%;
		height: 40px;
		border-radius: 21px;
		border: 1px solid rgba($title, 0.7);
		background-color: transparent;
		&::placeholder {
			font-family: 'Open Sans', sans-serif;
			line-height: 1.75; /* 28/16 */
			font-size: 16px;
			font-weight: 400;
			color: $placeholder;
		}
	}
	&__form-button {
		margin-left: 9px;
		padding: 6px 12px;
		width: 160px;
		height: 40px;
		font-weight: 600;
		line-height: 1.75; /* 28/16 */
		text-align: center;
		border-radius: 21px;
		border: none;
		background-color: $title;
		color: #fffff0;
	}
	&__social-list {
		width: 125px;
		margin-right: auto;
		margin-left: 99px;
	}
	&__menu-list {
		margin-right: 60px;
		width: 126px;
	}
	&__social-item,
	&__menu-item {
		font-size: 14px;
		font-weight: 600;
		line-height: 2; /* 28/14 */
	}
	&__social-item:not(:last-child) {
		margin-bottom: 15px;
	}
	&__menu-item:not(:last-child) {
		margin-bottom: 15px;
	}
	&__social-link,
	&__menu-link {
		color: #707070;
	}
	&__social-link {
		padding-left: 28px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			background-image: url(../images/facebook.svg);
			left: 0;
			top: 3px;
			width: 16px;
			height: 16px;
		}
	}
	&__social-link--facebook::before {
		background-image: url(../images/facebook.svg);
		top: 2px;
	}
	&__social-link--instagram::before {
		background-image: url(../images/instagram.svg);
		width: 14px;
		height: 14px;
	}
	&__social-link--pinterest::before {
		background-image: url(../images/pinterest.svg);
		top: 2px;
	}
	&__social-link--whatsapp::before {
		background-image: url(../images/whatsapp.svg);
		width: 14px;
		height: 14px;
	}
	&__social-link--youtube::before {
		background-image: url(../images/youtube.svg);
		top: 4px;
		width: 18px;
		height: 12px;
	}

	&__copyright {
		padding: 42px 0 41px;
		text-align: center;
		background-color: $title;
		color: $placeholder;
	}
}

.rightside-menu {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding-top: 41px;
	max-width: 694px;
	width: 100%;
	box-shadow: -2px 3px 17px 0px;
	transition: all 0.5s;
	background-color: #ffffff;
	&.rightside-menu--close {
		transform: translateX(100%);
	}
	&__close {
		margin-left: 47px;
		margin-bottom: 57px;
		border: none;
		background-color: transparent;
	}
	&__content {
		max-width: 483px;
		text-align: center;
		margin: 0 auto;
	}
	&__logo {
		display: inline-block;
		margin-bottom: 41px;
	}
	&__title {
		@extend %title-font;
		position: relative;
		font-size: 36px;
		line-height: 1.4167; /* 51/36 */
		margin-bottom: 17px;
		padding-bottom: 17px;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			height: 1px;
			max-width: 252px;
			margin: 0 auto;
			background: #6d7278;
		}
		color: $title;
	}
	&__text {
		margin-bottom: 75px;
	}
	&__image {
		max-width: 483px;
	}
}
