@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// ========== Header 1920x120px ========== //
.header {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 120px;
	}
	&__btn {
		background-color: transparent;
		border: none;
		padding: 0;
	}
}

.menu {
	padding-right: 15px;
	&__list {
		display: flex;
	}
	&__list-item {
		padding-right: 45px;
		padding-left: 35px;
	}
	&__list-link {
		display: block;
		line-height: 1.375;
		@extend %title-font;
		color: rgba(54, 56, 56, 0.9);
	}
	&__list-link--active {
		position: relative;
		padding-bottom: 4px;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: 2px;
			border-radius: 1px;
			background-color: rgba($title, 0.7);
		}
	}
}

.logo {
	margin: 0 auto;
}

.rightside-menu {
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	max-width: 694px;
	width: 100%;
	padding-top: 41px;
	box-shadow: -2px 3px 17px 0px;
	transition: all 0.5s;
	background-color: #ffffff;
	&.rightside-menu--close {
		transform: translateX(100%);
	}
	&__close {
		margin-bottom: 57px;
		margin-left: 47px;
		border: none;
		background-color: transparent;
	}
	&__content {
		max-width: 483px;
		text-align: center;
		margin: 0 auto;
	}
	&__logo {
		display: inline-block;
		margin-bottom: 41px;
	}
	&__title {
		position: relative;
		font-size: 36px;
		line-height: 1.4167; /* 51/36 */
		margin-bottom: 17px;
		padding-bottom: 17px;
		@extend %title-font;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: 1px;
			max-width: 252px;
			margin: 0 auto;
			background-color: $line;
		}
		color: $title;
	}
	&__text {
		margin-bottom: 75px;
	}
	&__image {
		max-width: 483px;
	}
}

.breadcrumbs {
	padding: 13px 0 14px;
	background-color: rgba($breadcrumbs-footer, 0.5);
	&__list {
		display: flex;
	}
	&__item::after {
		content: '/';
		margin-right: 4px;
		margin-left: -4px;
	}
	&__item:last-child::after {
		display: none;
	}
	&__link {
		font-size: 14px;
		line-height: 2; /* 28/14 */
		color: $default;
	}
}

// ========== Section Hero 1920x912px ========== //
.hero {
	&__inner {
		position: relative;
		padding-bottom: 70px;
		&::after {
			content: '';
			position: absolute;
			background-image: url(../images/slider-bg.jpg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			top: 0;
			width: 100%;
			height: 722px;
			z-index: -10;
		}
	}
	&__slider-item {
		display: flex !important;
		justify-content: center;
		align-items: center;
	}
	&__slider-img {
		margin-left: -9%;
		max-width: 703px;
		height: 815px;
		object-fit: cover;
	}
	&__slider-info {
		max-width: 635px;
		margin-left: 26px;
	}
	&__slider-title {
		position: relative;
		font-size: 110px;
		line-height: 1.2182; /* 134/110 */
		margin-bottom: 26px;
		padding-bottom: 27px;
		@extend %title-font;
		color: $title;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 185px;
			height: 1px;
			background-color: $line;
		}
	}
	&__slider-text {
		max-width: 586px;
	}
}

// ========== Section New collection 1868x531px ========== //
.new-collection {
	text-align: center;
	padding: 45px 0 104px;
	&__title {
		position: relative;
		font-size: 36px;
		line-height: 1.4167; /* 51/36 */
		margin-bottom: 24px;
		padding-bottom: 25px;
		@extend %title-font;
		color: $title;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			width: 250px;
			height: 1px;
			margin: 0 auto;
			background-color: $line;
		}
	}
	&__text {
		max-width: 730px;
		margin: 0 auto 27px;
	}
}

.collection {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 29.5px;

	&__item {
		position: relative;
		&:hover {
			.collection__info {
				opacity: 1;
			}
		}
	}
	&__images {
		// min-height: 350px;
		object-fit: cover;
	}
	&__info {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: all 0.5s;
		background-color: rgba(#fff, 0.6);
	}
	&__info-title {
		position: relative;
		font-size: 20px;
		line-height: 1.2; /* 24/20 */
		margin-bottom: 19px;
		padding-bottom: 19px;
		@extend %title-font;
		color: $title;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			width: 80%;
			height: 1px;
			margin: 0 auto;
			background-color: $line;
		}
	}
	&__info-text {
		font-size: 14px;
		font-weight: 600;
		line-height: 2; /* 28/14 */
		color: #707070;
	}
}

// ========== Section Decor 1920x616px ========== //
.decor {
	padding: 172px 0 156px;
	background-image: url(../images/decor-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 616px;
	&__title {
		position: relative;
		font-size: 60px;
		line-height: 1.3334; /* 80/60 */
		margin-bottom: 21px;
		padding-bottom: 22px;
		max-width: 731px;
		@extend %title-font;
		color: $title;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 200px;
			height: 1px;
			background-color: $line;
		}
	}
	&__text {
		max-width: 540px;
		line-height: 1.75; /* 28/16 */
	}
}

// ========== Section How it works 1110x467px ========== //
.works-path {
	padding: 79px 0 28px;
	&__title {
		font-size: 36px;
		line-height: 1.4167; /* 51/36 */
		text-align: center;
		margin-bottom: 39px;
		@extend %title-font;
		color: $title;
	}
	&__items-box {
		position: relative;
		display: flex;
		align-items: flex-end;
		border-bottom: 2px solid rgba($title, 0.7);
		&::after {
			content: '';
			position: absolute;
			bottom: -6px;
			left: 0;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $title;
		}
	}
	&__item {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 250px;
		height: 100%;
	}
	&__tem--consultation,
	&__item--production {
		padding-bottom: 86px;
	}
	&__item--measuring {
		margin-left: 306px;
		padding-top: 38px;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 2px;
			height: 20px;
			background-color: rgba($title, 0.7);
		}
	}
	&__item--production {
		margin-left: 317px;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 2px;
			height: 20px;
			background-color: rgba($title, 0.7);
		}
	}
	&__item-title {
		line-height: 1.4375; /* 23/16 */
		margin-left: 13px;
		@extend %title-font;
		color: $title;
	}
	&__item-text {
		line-height: 1.6875; /* 27/16 */
		margin-top: 13px;
	}
}

// ========== Block Gallery 1865x1230px ========== //
.gallery {
	padding: 80px 0 88px;
	&__buttons {
		text-align: center;
		margin-bottom: 40px;
	}
	&__btn {
		font-size: 14px;
		font-weight: 600;
		line-height: 2; /* 28/14 */
		text-align: center;
		padding: 6px 16px;
		border-radius: 20px;
		border: 1px solid #454647;
		background-color: transparent;
		color: #8f8d8d;
		&:not(:last-child) {
			margin-right: 25px;
		}
	}
	.mixitup-control-active {
		border: 1px solid rgba(255, 239, 53, 0.5);
		background-color: rgba(255, 239, 53, 0.5);
		color: $title;
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 30px 34px;
	}
	&__item:first-child {
		grid-column: span 2;
		grid-row: span 2;
	}
	&__item-img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		max-height: 1148px;
	}
}

// ========== Section Blog-box 1110x576px ========== //
.blog-box {
	padding-bottom: 99px;
	&__title {
		@include homeTitle;
		max-width: 430px;
		margin: 0 auto 29px;
	}
	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
	}
	&__img-link {
		display: inline-block;
		margin-bottom: 19px;
	}
	&__links {
		font-size: 14px;
		font-weight: 600;
		line-height: 2; /* 28/14 */
		color: #707070;
		margin-bottom: 7px;
	}
	&__date,
	&__author,
	&__theme {
		color: inherit;
	}
	&__item-title {
		font-size: 24px;
		line-height: 1.5834; /* 38/24 */
		@extend %title-font;
		color: $title;
	}
}

// ========== Footer 1920x451px ========== //
.footer {
	&__content {
		padding: 61px 0 80px;
		background-color: $breadcrumbs-footer;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__info {
		width: 539px;
	}
	&__info-title {
		line-height: 1.4375; /* 23/16 */
		margin-bottom: 14px;
		@extend %title-font;
		color: $title;
	}
	&__info-text {
		max-width: 476px;
		line-height: 1.782;
		margin-bottom: 16px;
	}
	&__info-img use {
		display: inline-block;
	}
	&__info-email {
		position: relative;
		display: inline-block;
		font-size: 14px;
		font-weight: 600;
		line-height: 2; /* 28/14 */
		margin-bottom: 22px;
		padding-left: 30px;
		color: $title;
		&::before {
			content: '';
			position: absolute;
			background-image: url(../images/icons/envelope.svg);
			top: 10px;
			left: 0;
			width: 16px;
			height: 12px;
		}
	}
	&__form {
		display: flex;
	}
	&__form-input {
		padding: 6px 10px 6px 18px;
		width: 100%;
		height: 40px;
		border-radius: 21px;
		border: 1px solid rgba($title, 0.7);
		background-color: transparent;
		&::placeholder {
			font-family: 'Open Sans', sans-serif;
			line-height: 1.75; /* 28/16 */
			font-size: 16px;
			font-weight: 400;
			color: $placeholder;
		}
	}
	&__form-button {
		margin-left: 9px;
		padding: 6px 12px;
		width: 160px;
		height: 40px;
		font-weight: 600;
		line-height: 1.75; /* 28/16 */
		text-align: center;
		border-radius: 21px;
		border: none;
		background-color: $title;
		color: #fffff0;
	}
	&__social-list {
		width: 125px;
		margin-right: auto;
		margin-left: 99px;
	}
	&__menu-list {
		margin-right: 60px;
		width: 126px;
	}
	&__social-item,
	&__menu-item {
		font-size: 14px;
		font-weight: 600;
		line-height: 2; /* 28/14 */
	}
	&__social-item:not(:last-child) {
		margin-bottom: 15px;
	}
	&__menu-item:not(:last-child) {
		margin-bottom: 15px;
	}
	&__social-link,
	&__menu-link {
		color: #707070;
	}
	&__social-link {
		position: relative;
		padding-left: 28px;
		&::before {
			content: '';
			position: absolute;
			background-image: url(../images/icons/facebook.svg);
			top: 3px;
			left: 0;
			width: 16px;
			height: 16px;
		}
	}
	&__social-link--facebook::before {
		background-image: url(../images/icons/facebook.svg);
		top: 2px;
	}
	&__social-link--instagram::before {
		background-image: url(../images/icons/instagram.svg);
		width: 14px;
		height: 14px;
	}
	&__social-link--pinterest::before {
		background-image: url(../images/icons/pinterest.svg);
		top: 2px;
	}
	&__social-link--whatsapp::before {
		background-image: url(../images/icons/whatsapp.svg);
		width: 14px;
		height: 14px;
	}
	&__social-link--youtube::before {
		background-image: url(../images/icons/youtube.svg);
		top: 4px;
		width: 18px;
		height: 12px;
	}

	&__copyright {
		padding: 42px 0 41px;
		text-align: center;
		background-color: $title;
		color: $placeholder;
	}
}

// ++++++++++ ABOUT.html ++++++++++ //
// ========== About-prev 1920x399px ========== //
.about {
	&__prev {
		background-image: url(../images/about-bg.jpg);
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		// margin-top: -53px;
		padding: 159px 0 160px;
	}
	&__prev-title {
		font-size: 60px;
		line-height: 1.3334; /* 80/60 */
		@extend %title-font;
		color: rgba($title, 0.59);
	}
	// ========== About-content 1110x471px ========== //
	&__content {
		padding: 129px 0 40px;
	}
	&__title {
		position: relative;
		font-size: 36px;
		line-height: 1.6667; /* 60/36 */
		max-width: 822px;
		margin-bottom: 23px;
		padding-bottom: 20px;
		@extend %title-font;
		color: $title;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 200px;
			height: 2px;
			background-color: $line;
		}
	}
	&__text {
		padding-left: 285px;
		p {
			margin-bottom: 38px;
		}
	}
	// ========== About-popup 1920x414px ========== //
	&__popup {
		background-image: url(../images/popup-bg.jpg);
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 414px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

// ========== Inspiration 1920x551px ========== //
.inspiration {
	position: relative;
	padding-top: 98px;
	margin-bottom: 10px;
	&::after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url(../images/inspiration-bg.jpg);
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 342px;
		z-index: -20;
	}
	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__image {
		margin-right: 78px;
		margin-left: -170px;
	}
	&__content {
		max-width: 824px;
	}
	&__title {
		position: relative;
		font-size: 36px;
		line-height: 1.6667; /* 60/36 */
		padding-bottom: 16px;
		margin-bottom: 24px;
		@extend %title-font;
		color: $title;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 200px;
			height: 2px;
			border-radius: 1px;
			background-color: $line;
		}
	}
	&__text {
		margin-bottom: 30px;
	}
	&__item {
		font-size: 16px;
		line-height: 1.4375; /* 23/16 */
		@extend %title-font;
		color: $title;
		&:not(:last-child) {
			margin-bottom: 33px;
		}
	}
	&__item-content {
		display: flex;
		justify-content: space-between;
		padding-bottom: 14px;
		border-radius: 4px;
		border-bottom: 2px solid #ffffff;
	}
	&__line {
		height: 2px;
		margin-top: -2px;
		border-radius: 4px;
		background-color: $title;
	}
}
