@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// ========== Header 1920x120px ========== //
.header {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 120px;
	}
	&__btn {
		background-color: transparent;
		border: none;
		padding: 0;
	}
}

.menu {
	padding-right: 15px;
	&__list {
		display: flex;
	}
	&__list-item {
		padding-left: 35px;
		padding-right: 45px;
	}
	&__list-link {
		@extend %title-font;
		line-height: 1.375;
		color: rgba(54, 56, 56, 0.9);
	}
}

.logo {
	margin: 0 auto;
}

// ========== Footer 1920x472px ========== //
.footer {
	&__content {
		padding: 61px 0 80px;
		background-color: $footer;
	}
	&__copyright {
		padding: 42px 0 41px;
		text-align: center;
		background-color: $copyright;
		color: #a1a1a1;
	}
}
