@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// ========== Header 1920x120px ========== //
.header {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 120px;
	}
	&__btn {
		background-color: transparent;
		border: none;
		padding: 0;
	}
}

.menu {
	padding-right: 15px;
	&__list {
		display: flex;
	}
	&__list-item {
		padding-right: 45px;
		padding-left: 35px;
	}
	&__list-link {
		display: block;
		line-height: 1.375;
		@extend %title-font;
		color: rgba(54, 56, 56, 0.9);
	}
}

.logo {
	margin: 0 auto;
}

// ========== Header 1920x120px ========== //
.rightside-menu {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	max-width: 694px;
	width: 100%;
	padding-top: 41px;
	box-shadow: -2px 3px 17px 0px;
	transition: all 0.5s;
	background-color: #ffffff;
	&.rightside-menu--close {
		transform: translateX(100%);
	}
	&__close {
		margin-bottom: 57px;
		margin-left: 47px;
		border: none;
		background-color: transparent;
	}
	&__content {
		max-width: 483px;
		text-align: center;
		margin: 0 auto;
	}
	&__logo {
		display: inline-block;
		margin-bottom: 41px;
	}
	&__title {
		@extend %title-font;
		position: relative;
		font-size: 36px;
		line-height: 1.4167; /* 51/36 */
		margin-bottom: 17px;
		padding-bottom: 17px;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: 1px;
			max-width: 252px;
			margin: 0 auto;
			background: #6d7278;
		}
		color: $title;
	}
	&__text {
		margin-bottom: 75px;
	}
	&__image {
		max-width: 483px;
	}
}

// ========== Section Hero 1920x912px ========== //
.hero {
	&__inner {
		position: relative;
		padding-bottom: 70px;
		&::after {
			content: '';
			position: absolute;
			background-image: url(../images/slider-bg.jpg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			top: 0;
			width: 100%;
			height: 722px;
			z-index: -1;
		}
	}
	&__slider-item {
		display: flex !important;
		justify-content: center;
		align-items: center;
	}
	&__slider-img {
		margin-left: -9%;
		max-width: 703px;
		height: 815px;
		object-fit: cover;
	}
	&__slider-info {
		max-width: 635px;
		margin-left: 26px;
	}
	&__slider-title {
		@extend %title-font;
		font-size: 110px;
		line-height: 1.2182; /* 134/110 */
		margin-bottom: 26px;
		padding-bottom: 27px;
		position: relative;
		color: $title;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 185px;
			height: 1px;
			background: #6d7278;
		}
	}
	&__slider-text {
		max-width: 586px;
	}
}

// ========== Section New collection 1868x531px ========== //
.new-collection {
	text-align: center;
	padding: 45px 0 104px;
	&__title {
		@extend %title-font;
		font-size: 36px;
		line-height: 1.4167; /* 51/36 */
		margin-bottom: 24px;
		padding-bottom: 25px;
		position: relative;
		color: $title;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			width: 250px;
			height: 1px;
			margin: 0 auto;
			background: #6d7278;
		}
	}
	&__text {
		max-width: 730px;
		margin: 0 auto 27px;
	}
}

.collection {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 29.5px;

	&__item {
		position: relative;
		&:hover {
			.collection__info {
				opacity: 1;
			}
		}
	}
	&__images {
		// min-height: 350px;
		object-fit: cover;
	}
	&__info {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: all 0.5s;
		background: rgba(#fff, 0.6);
	}
	&__info-title {
		@extend %title-font;
		font-size: 20px;
		line-height: 1.2; /* 24/20 */
		margin-bottom: 19px;
		padding-bottom: 19px;
		position: relative;
		color: $title;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			width: 80%;
			height: 1px;
			margin: 0 auto;
			background: #6d7278;
		}
	}
	&__info-text {
		font-size: 14px;
		font-weight: 600;
		line-height: 2; /* 28/14 */
		color: #707070;
	}
}

// ========== Section Decor 1920x616px ========== //
.decor {
	padding: 172px 0 156px;
	background-image: url(../images/decor-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 616px;
	&__title {
		@extend %title-font;
		font-size: 60px;
		line-height: 1.3334; /* 80/60 */
		margin-bottom: 21px;
		padding-bottom: 22px;
		max-width: 731px;
		position: relative;
		color: $title;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 200px;
			height: 1px;
			background: #6d7278;
		}
	}
	&__text {
		max-width: 540px;
		line-height: 1.75; /* 28/16 */
	}
}

// ========== Footer 1920x451px ========== //
.footer {
	&__content {
		padding: 61px 0 80px;
		background-color: $footer-bg;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__info {
		width: 539px;
	}
	&__info-title {
		line-height: 1.4375; /* 23/16 */
		margin-bottom: 14px;
		@extend %title-font;
		color: $title;
	}
	&__info-text {
		max-width: 476px;
		line-height: 1.782;
		margin-bottom: 16px;
	}
	&__info-img use {
		display: inline-block;
	}
	&__info-email {
		display: inline-block;
		position: relative;
		font-size: 14px;
		font-weight: 600;
		line-height: 2; /* 28/14 */
		margin-bottom: 22px;
		padding-left: 30px;
		color: $title;
		&::before {
			content: '';
			position: absolute;
			background-image: url(../images/envelope.svg);
			top: 10px;
			left: 0;
			width: 16px;
			height: 12px;
		}
	}
	&__form {
		display: flex;
	}
	&__form-input {
		padding: 6px 10px 6px 18px;
		width: 100%;
		height: 40px;
		border-radius: 21px;
		border: 1px solid rgba($title, 0.7);
		background-color: transparent;
		&::placeholder {
			font-family: 'Open Sans', sans-serif;
			line-height: 1.75; /* 28/16 */
			font-size: 16px;
			font-weight: 400;
			color: $placeholder;
		}
	}
	&__form-button {
		margin-left: 9px;
		padding: 6px 12px;
		width: 160px;
		height: 40px;
		font-weight: 600;
		line-height: 1.75; /* 28/16 */
		text-align: center;
		border-radius: 21px;
		border: none;
		background-color: $title;
		color: #fffff0;
	}
	&__social-list {
		width: 125px;
		margin-right: auto;
		margin-left: 99px;
	}
	&__menu-list {
		margin-right: 60px;
		width: 126px;
	}
	&__social-item,
	&__menu-item {
		font-size: 14px;
		font-weight: 600;
		line-height: 2; /* 28/14 */
	}
	&__social-item:not(:last-child) {
		margin-bottom: 15px;
	}
	&__menu-item:not(:last-child) {
		margin-bottom: 15px;
	}
	&__social-link,
	&__menu-link {
		color: #707070;
	}
	&__social-link {
		padding-left: 28px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			background-image: url(../images/facebook.svg);
			top: 3px;
			left: 0;
			width: 16px;
			height: 16px;
		}
	}
	&__social-link--facebook::before {
		background-image: url(../images/facebook.svg);
		top: 2px;
	}
	&__social-link--instagram::before {
		background-image: url(../images/instagram.svg);
		width: 14px;
		height: 14px;
	}
	&__social-link--pinterest::before {
		background-image: url(../images/pinterest.svg);
		top: 2px;
	}
	&__social-link--whatsapp::before {
		background-image: url(../images/whatsapp.svg);
		width: 14px;
		height: 14px;
	}
	&__social-link--youtube::before {
		background-image: url(../images/youtube.svg);
		top: 4px;
		width: 18px;
		height: 12px;
	}

	&__copyright {
		padding: 42px 0 41px;
		text-align: center;
		background-color: $title;
		color: $placeholder;
	}
}
